@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  background: #0F0F12;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* Optional: just to ensure no background color */
}

input[type="number"] {
  -moz-appearance: textfield;
  /* Firefox */
  -webkit-appearance: textfield;
  /* Safari and Chrome */
  appearance: textfield;
  /* Others */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  /* Safari */
}

.scroll>div {
  animation: animate 60s linear infinite;
  animation-delay: calc(60s * -1);
}

@keyframes animate {
  0% {
    transform: translateX(100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

.scroll>div:nth-child(2) {
  animation: animate2 60s linear infinite;
  animation-delay: calc(60s / -2);
}

@keyframes animate2 {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-200%);
  }
}

.scroll:hover>div {
  /* animation-play-state: paused; */
}




















@layer utilities {
  .bounce-animation {
    animation: upAndDown 3s infinite cubic-bezier(0.42, 0, 0.58, 1);
  }

  @keyframes upAndDown {
    0% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-10px);
    }

    100% {
      transform: translateY(0);
    }
  }

  .before-circle {
    position: relative;
    padding-left: 24px;
  }

  .before-circle:before {
    position: absolute;
    left: 0px;
    top: 10px;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    background-color: #FACD32;
    border-radius: 50%;
    content: '';
  }
}